doctype html
html(lang="en")

  head
    title Earth X-ray
    link(rel="stylesheet" href="style.css")
    meta(content="user-scalable=0, width=device-width" name="viewport")

  body
    #root
    script(src="script.js")
    include google
    include typekit
