

#calibration {

  position: fixed;
  text-align: center;
  top: 20px;

  .translate(-50%, 0);
  left: 50vw;

  pointer-events: none;
  font-size: 12px;
  color: @color-accent;

  i {
    margin: 10px;
  }

  .tip {
    color: @gray-light;
    font-size: 10px;
  }

}
