

#calibration {

  .center-top();

  font-size: 12px;
  pointer-events: none;
  opacity: 0.8;

  &.waiting {

    i, .sampling {
      color: @color-accent;
    }

    .tip {
      font-size: 10px;
    }

  }

  &.success {

    font-weight: bold;
    color: @brand-success;

    .pulse {
      visibility: hidden;
    }

  }

}
