

#center {

  i.crosshair {

    position: fixed;
    .translate(-50%, -50%);
    top: 50vh;
    left: 50vw;

    opacity: 0.7;

  }

  .stats {

    position: fixed;
    .translate(-50%, -50%);
    top: 50vh;
    left: 50vw;

    margin-top: 50px;

  }

}
