

#center {

  i.crosshair {
    .centered();
    .translate(-50%, -50%);
    opacity: 0.7;
  }

  .stats {

    .centered();
    .translate(-50%, 0);
    margin-top: 20px;

    .miles {
      font-size: 0.5em;
      text-align: center;
    }

  }

}
