

.overlay.error {

  .content {
    width: 60%;
  }

  .logo svg {
    width: 30vh;
  }

  h1 {
    color: lighten(@color-error, 30%);
    font-size: 4vh;
  }

  p {
    font-size: 2.3vh;
    font-weight: lighter;
  }

  p.try-phone {
    font-weight: bold;
  }

}
