

.error {

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.7);
  color: whitesmoke;

  .error-content {
    text-align: center;
  }

  i {
    font-size: 5em;
  }

  h1 {
    color: #FF5757;
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }

}
