

.nav {

  i.toggle {
    z-index: 2;
    position: fixed;
    padding: 3vh;
    top: 0;
    left: 0;
    font-size: 6vh;
    opacity: 0.8;
  }

  &.active i.toggle {
    color: whitesmoke;
  }

  .content {
    width: 60%;
  }

  h1 {
    font-size: 5vh;
    font-weight: bold;
  }

  p {
    font-size: 2vh;
  }

  img {
    width: 30vh;
    margin-bottom: 3vh;
  }

  button {
    margin-top: 3vh;
    padding: 1vh 2vh;
    font-family: brandon-grotesque;
    font-size: 4vh;
  }

  .links {
    margin-top: 2em;
  }

  a {
    color: #A2DDEC;
  }

}
