

.nav {

  i.toggle {
    z-index: 2;
    position: fixed;
    padding: 3vh;
    top: 0;
    left: 0;
    font-size: 6vh;
    opacity: 0.8;
  }

  &.active i.toggle {
    color: whitesmoke;
  }

  .content {
    width: 50%;
  }

  h1 {
    font-size: 5vh;
    font-weight: bold;
  }

  p {
    font-size: 1.8vh;
  }

  img {
    width: 100%;
    margin-top: 2em;
  }

  button {
    font-size: 3vh;
    padding: 1vh 2vh;
    margin-top: 3vh;
  }

}
